<div>
    <h1>Home</h1>

    <h2>Cursos: </h2>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="card-title">Curso 1</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Um curso de TypeScript explora a linguagem que amplia o JavaScript com tipagem estática 
            e recursos avançados, 
            capacitando desenvolvedores a criar código mais seguro e escalável para aplicativos web.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goToCoursesDetails()">Ver mais </button>
        </mat-card-actions>
      </mat-card>
</div>
