.example-card {
  max-width: 400px;
  background-color: rgb(226, 196, 250);
    margin-left: 500px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
